



    body {

        background: #051514;
        margin-left: 1.5em;
        margin-right: 1.5em;

        font-family: 'Poppins', sans-serif;
       
    }
    .scroll-tracker {
        position: fixed;
        transform-origin: left;
        left: 0;
        width: 100% ;
        height: 1rem;
        background-color:grey;
        margin-top: -5em;
        z-index:200000
    }
 
    a {

        text-decoration: none;
        font-size: 1.3rem;
    }
    nav.main-nav {
        
    position: fixed;
    right: 0;
    top: 0;
    background:#186b64;
    height: 100vh;
    width: 50%;
    z-index: 200;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
     ul {
        list-style-type: none;
        padding: 0;
        margin-top: 5em;
        a {
            text-decoration: none;
            color: white;
            padding: .75em 2em;
            display: block;
    
            &:hover {
                background: white;
                color: #186b64;
            }
    
        }
        
    
     }
     
        .close {
            width: 1.5em;
            fill:white;
            margin: 1.5em;
            z-index: 1000;
            height: 2em;
            align-self: center;
    
    
            
            &:hover {
                fill:black;  
    
            }
            
         }
         
    
     }
     
    
    
     
     
    
    .logo-container {
        display: flex;
    
    }
    
    .logo {
        color: white;
        font-weight: bold;
    }
    header {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
    }
    svg {
        width: 2em;
        cursor: pointer;
        fill:#186b64;
    }
    section.hero {
        text-align: center;
        justify-content: center;
        margin-top:5em ;
        color: white;
    }
    .surname {
        color: #22958c;
    }
    
    .williams {
        color: #22958c;
    }
    .major {
        color:#22958c; 
    }
    .name {
        padding: 0;
        font-size: 4rem;
        line-height: 1em; 
        
    }
    
    .P {
        color:#22958c;
    }
    .O {
        color:#22958c;
    }
    .school {
        font-size: 1.3rem;
    }
    .degrees {
        font-size: 1rem;
        margin-top: -2em;
        margin-bottom: 2em;
    
    }
    .personal-description {
        font-size: .9rem;
        line-height: 2em;
    
    }
    .personal-description-container {
        text-align: center;
        border: 0.1em solid;
        border-color: #186b64;
        padding: 1em;
    
    }
    .get-in-touch-link {
        border: 0.1em solid;
        border-color: #186b64;
        background: none;
        color: white;
        font-size: 1.5em;
        padding: 1em;
        
    }
    .get-in-touch-link:hover {
        cursor: pointer;
        background:  #186b64;
    }
    
    
    
    .education {
        text-align: center;
        color: white;
        font-size: 3rem;
    }
    
    .year-university {
        font-size:2.7rem;    
    }
    
    .education-detail {
        font-size: 1rem;
    }

    .year-highschool {
        font-size:2.7rem;
    }


    .education-title {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        height: 10%;
        padding: 0.1em;
        text-align: center;
        background-color:#022422; 
    }

    .school-paragraph {
        color:#22958c;
    }

    .school-paragraph-all {
        color: white;
    
    }
    
    #major {
        margin: 0.1rem
    }
    #highschool {
        color:#22958c
    }

    .skills {
        text-align: center;
        color: white;
        font-size: 3rem;
    }
    div.skills-heading {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;


        height: 3.4em;
        background-color:#022422;
    }
    ul.skills-technical-list {
        list-style-type:none;
        font-size: 1rem;
    }
    h1.technical {
        font-size: 2.7rem;
    }
    h1.personal {
        font-size: 2.7rem;
    }
    ul.skills-personal-list {
        font-size: 1rem;
        list-style-type: none;
        li::before {
            content: "✅";
            margin-right: 0.3em;
        }
    }
  
    div.icons {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    img.icon-dimensions {
        height: 30px;
        width:30px;
    }
    .icons-div {
        display: none;
    }
    .projects-heading {
        display:flex;    
        align-items: center;
        justify-content:center;
        margin-top: 2em;
        box-shadow: white ; 
        background-color:#022422;
        width:100%;
    }
    
    .img-container {
        position: relative;
        width: 100%;
        height:70%;
        padding: auto;
      
    }
    .img-container svg {
        pointer-events: none;
        width: 60px;
        height:50px;
        z-index:1 ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
   
   
    section.projects {
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: center;

        z-index: 1;
    }

    .project1 {

        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%;
        margin-bottom: 0.3em;
        margin-right: auto;
        margin-left:auto;
        min-height: 320px;
     }

     .project2 {
        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:20em;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom: 0.3em;
        margin-right: auto;
        margin-left:auto;
        min-height: 320px;
     }
     .project3 {
        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom: 0.3em;
        margin-right: auto;
        margin-left:auto;
        min-height: 320px;
        
     }
     .project4 {
        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom:0.3em;
        margin-right: auto;
        margin-left:auto;
        min-height: 320px;
     }
     .project5 {
        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom:0.3em;
        margin-right:auto;
        margin-left:auto;
        min-height: 320px;
     }
       .project7 {
        padding: 0.5em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom:0.3em;
        margin-right:auto;
        margin-left:auto;
        min-height: 320px;
     }
     .project6 {
        padding: 0.8em;
        text-align: center;
        background-color:white;
        width: 16em;
        height:auto;
        z-index:1;
        margin-top: 0.3em;
        border-radius: 2%; 
        margin-bottom: 0.3em;
        margin-right:auto;
        margin-left:auto;
        min-height: 320px;
        
     }
        
     .projects-details {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        border-radius: 2%;
        padding:2em;
        margin-top: 5em;
        width: 90%;

        // background-color:blue;
        background-color:#022422;
        margin-left:auto;
        margin-right:auto;

        height:auto;
        z-index: 0;

        
     }   
    
        
    .project-1-image {
        border-radius: 2%;

        top:0;
        width: 100%;
        height: 100%;

        &:hover {
            filter: blur(0.03em) brightness(20%);
            opacity: 0.9
            
        }
    }

    
   
    .hidden {
        display:none;
    }
    .tools-used {

        display: flex;
        justify-content:space-around;
        margin-top: 0.5em;
        align-items: center;
        width: 90%;
        height: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.1em;
        border-radius: 2%;
        width: 100%;

    }
    .project-h3 {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }
    hr.title-separator {
        height: 0.1em;
        background-color: #186b64;
        color:#186b64 ;
    }
    section.contact-me {


        
        div.contact-me-heading {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;


        height: 10em;
        background-color:#022422;
    }
    .contact-me-details{

        bottom:0;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color:white;
            text-decoration: none;
.contact-info {
        background:none;
        display: flex;
        margin: 0.1em;
        justify-content: center;
        align-items: center;
        width: 16em;
        height: 2em;


    }
        }

    }
    
    }
    .contact-me-form {
        position: relative;

        width: 100%;

        .contact {
            z-index:-4;
            position: absolute;
            top: 60%;

            left: 50%;
            transform: translate(-50%, -50%);
            width:100%;
            height: 100%;
             .name-surname {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
           .textbox {
                margin: 0.4em;
                width: 15em;
                height: 3em;
                padding: 0.5em;
                border: none;
                background-color: #000;
                opacity: 0.6;
                color:white;
                font-weight: 700;
                font-size: 1rem;

            }
            .email {
                width: 15em;
                height: 3em;
                margin: 0.4em;
                padding: 0.5em;
                border: none;
                background-color: #000;
                opacity: 0.6;
                color: white;
                font-weight: 700;
                font-size:1rem;
            }
           
        }
          
          .textarea-submit {
            display:flex;
            justify-content: center;
            flex-direction: column;


        

            .textarea {
                width: 57%;
                height:15em;
                margin-left: auto;
                opacity: 0.6; 
                margin-right: auto;
                border:none;
                margin-top: 0.7em;
                color: white;
                background-color: #000;
                padding: 0.5em;
                font-weight: 700;
                font-size:1rem;
            }
            
            .send-btn {
                float: right;
               border: 0.1em solid;
                border-color: #186b64;
                background: none;
                color: white;
                font-size: 1.5em;
                padding: 1em; 
                margin-top: 0.7em;
                width: 7em;
                margin-left:auto;
                margin-right: auto;
                text-transform: uppercase;
                font-weight:700;
                cursor: pointer;
                text-align: center;
                background:  #186b64;
                margin-bottom: 2em;
                 &:hover {
        cursor: pointer;
        background: #000;
        
    }
            }
            
          }
            
    }
    }
    
    p.reach {
        font-weight: 110;
        font-size: small;
    }
    .modal {
        display: none;
        padding: 2em;
        position:fixed;
        top: 60%;   
        right: 50%;
        bottom: 5%;
        left: 50%;
        background-color:#022422;
        min-width: 300px;
        color: white;
        width: 70vw;
        border: none;
        z-index: 999999;
        transform: translate(-50%, -50%);
        .dialog-header {

            display: flex;  
            justify-content: space-between;
            align-items: center;

            margin-left: auto;
            margin-right: auto;
            .close-modal-icon {
              &:hover {
                g {
                    fill: grey;
                }
                
              }
            }
        }
         .dialog-desc {


            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 5rem;

        }
        .access-git {

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 5rem;
            background-color:black;
            margin-left:auto;
            margin-right: auto;
            width: 40%;
            min-width: 250px;
            cursor: pointer;
            height: 5rem;
            color: white;

            a {
                // background-color: blue;
               
                color: white;
             
            }
                  &:hover a {
                background-color: white;
                color: #022422;
            }
            &:hover {
               background-color: white;
                color: #022422; 
            }

            
           

        }
        }
       

        
        
    
    .blur-page {
        display:none;
        position: fixed;
        top: 0;
        right:0;
        left:0;
        z-index: 8888; 
        background-color: black;
        width:100%;
        height: 100%;
        opacity: 0.7;
        

    }
   
    .open-nav {
        transform: translateX(0);
    } 
    
    .menu-scroll-container {
        background-color: white;
        width: 32px;
        height: 32px;
        position:fixed;
        right:2%;
        top:0;
        z-index: 999999;
        

    }
    
    @media only screen and (min-width: 680px) {
        body {
            margin:5em;

        }
        .menu-scroll-container {
            display: none;
        }
        .scroll {
            position: fixed;
            top:93%;
            background-color: black;
            width: 100%;
            height: 4em;
            right:0;
            text-align: center;
            color: white;
            z-index: 999999;
            ul{
               display: flex;
               justify-content: space-evenly;
               align-items:center;
              li {
                text-decoration: none;
                list-style-type: none;
                color: white;
                &:hover {
                    color:#22958c
                }
              }
            }
        }
       
        .name {
        padding: 0;
        font-size: 4rem;
        line-height: 1em;
        position: relative;
        width: max-content;
        height: 4.5rem;
        
    }
        .name::before, .name::after {
            content: '';
            position:absolute;
            top: 0;
            right: 0;
            bottom:0;
            left:0;

        }
         .name::before { 
            background-color: #051514;
            animation: typewriter 1.5s steps(18) 1s forwards;
        }
        .name::after {
            width: 0.2rem;

            background-color: white;
            animation: typewriter 1.5s steps(18) 1s forwards,
            blink 900ms steps(18) infinite;
        }
        .degrees {
            opacity: 0;
            transform: translateY(3rem);
            animation: fadeInUp 2s ease 2.2s forwards;
        }
        

    @keyframes typewriter {
        to { left: 100%;}
    }
    
    }
    @keyframes blink {
        to {
            background: transparent;
        }
    }
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @media only screen and (min-width: 920px) {
        .bar {
            display: none;
        }
        .close {
            display: none
        }
        .skill-details {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
        .menu {
            display: none;
        }
        

        nav.main-nav {
            display:flex;
            transform: translateX(0);
            position: unset;
            background: none;
            display: block;
            width: auto;
            height: auto;
            
        
            ul {
                display: flex;
                margin:0;
                a {
                    padding: .5em 1.5em;
                    font-size: .9rem;
                    
                    &:hover {
                        background: #051514;
                        // background: #022422;
                        color: white;
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;
                    }
                }

            }

        }

    }

    @media only screen and (min-width: 1200px) {
        .container {
            width: 1200px;
            margin: 0 auto;
        }
    }
